.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul{
    list-style: none;
    background-color: red;
    padding: 10px;
}
li{
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
}
.link{
    text-decoration:none;
    color :black;
}
li:hover{
    background-color :orangered;
    color: white;

}